@import "tailwindcss";

/* globals.css */

body {
  font-family: var(--font-poppins), sans-serif;
}

/* Use Geist or Mono wherever needed */
.code-block {
  font-family: var(--font-geist-mono), monospace;
}
